.card {
  // FUNCTIONALITY
  // must be in the parent of the element we want to rotate.
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  // when children are absolute they cause the parent height to colapse. With position absolute the only fix is to add height to parent.
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: $border-radius-default;
    // it will hide everything which is overflowing the parent border (image overflowing the border radius)
    overflow: hidden;
    box-shadow: $box-shadow-medium;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right,
          $color-primary-light,
          $color-primary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    // when the card is covered flip the side horizontaly so the back side is visible
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    // when the card is covered flip the side horizontaly
    transform: rotateY(0);
  }

  // FRONT SIDE STYLE
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    // clip-path overrides the overflow property so we need to add borther radius at the element using the clip-path
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    &--1 {
      background-image: linear-gradient(
          to right,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5-small.jpg);

        @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        (min-width: 125em) {
          background-image: linear-gradient(
            to right,
            $color-secondary-light,
            $color-secondary-dark
          ),
          url(../img/nat-5.jpg);
        }
    }
    &--2 {
      background-image: linear-gradient(
          to right,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6-small.jpg);

        @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        (min-width: 125em) {
          background-image: linear-gradient(
            to right,
            $color-primary-light,
            $color-primary-dark
          ),
          url(../img/nat-6.jpg);
        }
    }
    &--3 {
      background-image: linear-gradient(
          to right,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7-small.jpg);

        @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
        (min-width: 125em) {
          background-image: linear-gradient(
            to right,
            $color-tertiary-light,
            $color-tertiary-dark
          ),
          url(../img/nat-7.jpg);
        }
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    // applies all the decorations declared to all of the elements created - 2 lines of text both will have the padding.
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      // since the list and it's parent are block elements we use that to plase the list in the center of its parent.
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 0.1rem solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    @include centered;
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    // big text looks better when thin
    font-weight: 100;
  }

  @include respond(tab-port) {
    height: auto;
    border-radius: $border-radius-default;
    background-color: $color-white;
    box-shadow: $box-shadow-medium;

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }
    // BACK SIDE STYLING
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 5rem; 
    }
  }
}
